body { 
    font-family: Arial, sans-serif; 
    background-color: #f4f6f8;
}

h1 {
    color: #333;
    text-align: center;
}
p, h2{
    width: 50%;
    margin: 30px 0  30px 20%; 
}

button { 
    padding: 10px 14px; 
    cursor: pointer; 
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 30px 0  30px 20%; 
}

button:hover {
    background-color: #0056b3;
}